<div class="{{{class|blubox-jck}}}">
<table  cellspacing="0" cellpadding="0" style="background: transparent; padding-top:1em;padding-left:1em;">
    <tr>
        <td nowrap="nowrap" valign="top" border="0">
            <span style="position: relative; top: -2px;margin-right:5px;margin-left:15px;">                
                {{img src={{{ROOTURI}}}//plugins/content/template/Attention_niels_epting.svg}}
            </span> 
        </td>
        <td valign="top" style="padding-right: 5px;padding-left:10px;" border="0">
            {{{content}}}
        </td>
        <td nowrap="nowrap" valign="top" border="0">
            <span style="position: relative; top: -2px;margin-right:5px;margin-left:15px;">                
                {{img src={{{ROOTURI}}}//plugins/content/template/Attention_niels_epting.svg}}
            </span> 
        </td>
    </tr>
</table>
</div>